.IconButton {
  all: unset;
  flex: 0 0 auto;
  color: var(--mauve-11);
  height: 30px;
  width: 30px;

  border-radius: 4px;
  display: inline-flex;
  font-size: 13px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--violet-3);
    color: var(--violet-11);
  }
  &:focus {
    position: relative;
    box-shadow: 0 0 0 2px var(--violet-7);
  }
}

.ToolTipContent {
  color: white;
  border-radius: 4px;
  padding: 5px 12px;
  font-size: 15px;
  line-height: 1;

  background-color: black;
  user-select: none;
}

.PopoverContent {
  border-radius: 4px;
  padding: 20px;
  width: 260px;
  background-color: white;
  box-shadow: hsl(206 22% 7% / 20%) 0px 4px 12px -4px,
    hsl(206 22% 7% / 10%) 0px 2px 6px -2px;

  will-change: transform, opacity;
  &:focus {
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px, 0 0 0 2px var(--violet-7);
  }
}
